In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv("../public/datasets/hdb/hdb_available.csv")
df.head()

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,LATITUDE,LONGITUDE,address,town,flat_type,resale_price
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,1.36200,103.85388,406 ANG MO KIO AVE 10,ANG MO KIO,2 ROOM,251558.528
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,1.37097,103.83820,108 ANG MO KIO AVE 4,ANG MO KIO,3 ROOM,271076.000
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,1.38071,103.83537,602 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,284087.648
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,1.36620,103.85720,465 ANG MO KIO AVE 10,ANG MO KIO,3 ROOM,287340.560
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,1.38104,103.83513,601 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,287340.560

In [25]:
df['bus'] = (np.log(df["bus_within_0.5"] +1)) / 2.772588722239781
df.head()

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,LATITUDE,LONGITUDE,address,town,flat_type,resale_price,bus
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,1.36200,103.85388,406 ANG MO KIO AVE 10,ANG MO KIO,2 ROOM,251558.528,0.951839
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,1.37097,103.83820,108 ANG MO KIO AVE 4,ANG MO KIO,3 ROOM,271076.000,0.896241
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,1.38071,103.83537,602 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,284087.648,0.951839
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,1.36620,103.85720,465 ANG MO KIO AVE 10,ANG MO KIO,3 ROOM,287340.560,0.864858
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,1.38104,103.83513,601 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,287340.560,0.896241

In [26]:
df['school'] = (np.log(df["school_within_2.0"] +1)) / 2.833213344056216
df.head()

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,LATITUDE,LONGITUDE,address,town,flat_type,resale_price,bus,school
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,1.36200,103.85388,406 ANG MO KIO AVE 10,ANG MO KIO,2 ROOM,251558.528,0.951839,1.091002
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,1.37097,103.83820,108 ANG MO KIO AVE 4,ANG MO KIO,3 ROOM,271076.000,0.896241,1.039258
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,1.38071,103.83537,602 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,284087.648,0.951839,0.877063
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,1.36620,103.85720,465 ANG MO KIO AVE 10,ANG MO KIO,3 ROOM,287340.560,0.864858,1.000000
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,1.38104,103.83513,601 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,287340.560,0.896241,0.877063

In [27]:
df['mall'] = (np.log(df["mall_within_2.0"] +1)) / 1.791759469228055
df.head()

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,LATITUDE,LONGITUDE,address,town,flat_type,resale_price,bus,school,mall
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,1.36200,103.85388,406 ANG MO KIO AVE 10,ANG MO KIO,2 ROOM,251558.528,0.951839,1.091002,1.086033
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,1.37097,103.83820,108 ANG MO KIO AVE 4,ANG MO KIO,3 ROOM,271076.000,0.896241,1.039258,0.898244
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,1.38071,103.83537,602 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,284087.648,0.951839,0.877063,0.773706
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,1.36620,103.85720,465 ANG MO KIO AVE 10,ANG MO KIO,3 ROOM,287340.560,0.864858,1.000000,0.898244
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,1.38104,103.83513,601 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,287340.560,0.896241,0.877063,0.773706

In [28]:
df['supermarket'] = (np.log(df["supermarket_within_0.5"] + 1)) / 1.0986122886681098
df.head()

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,LATITUDE,LONGITUDE,address,town,flat_type,resale_price,bus,school,mall,supermarket
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,1.36200,103.85388,406 ANG MO KIO AVE 10,ANG MO KIO,2 ROOM,251558.528,0.951839,1.091002,1.086033,0.63093
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,1.37097,103.83820,108 ANG MO KIO AVE 4,ANG MO KIO,3 ROOM,271076.000,0.896241,1.039258,0.898244,1.00000
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,1.38071,103.83537,602 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,284087.648,0.951839,0.877063,0.773706,0.00000
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,1.36620,103.85720,465 ANG MO KIO AVE 10,ANG MO KIO,3 ROOM,287340.560,0.864858,1.000000,0.898244,0.63093
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,1.38104,103.83513,601 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,287340.560,0.896241,0.877063,0.773706,0.00000

In [29]:
df['cbd'] = 2.6561072220310518 - (np.log(df["cbd_distance"]) +1)
df.head()

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,...,LONGITUDE,address,town,flat_type,resale_price,bus,school,mall,supermarket,cbd
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,...,103.85388,406 ANG MO KIO AVE 10,ANG MO KIO,2 ROOM,251558.528,0.951839,1.091002,1.086033,0.63093,-0.498502
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,...,103.83820,108 ANG MO KIO AVE 4,ANG MO KIO,3 ROOM,271076.000,0.896241,1.039258,0.898244,1.00000,-0.619218
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,...,103.83537,602 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,284087.648,0.951839,0.877063,0.773706,0.00000,-0.727622
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,...,103.85720,465 ANG MO KIO AVE 10,ANG MO KIO,3 ROOM,287340.560,0.864858,1.000000,0.898244,0.63093,-0.552742
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,...,103.83513,601 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,287340.560,0.896241,0.877063,0.773706,0.00000,-0.731368

In [30]:
df['hawker'] = 0.4868281744936002 - (np.log(df["hawker_distance"]) +1)
df.head()

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,...,address,town,flat_type,resale_price,bus,school,mall,supermarket,cbd,hawker
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,...,406 ANG MO KIO AVE 10,ANG MO KIO,2 ROOM,251558.528,0.951839,1.091002,1.086033,0.63093,-0.498502,1.168127
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,...,108 ANG MO KIO AVE 4,ANG MO KIO,3 ROOM,271076.000,0.896241,1.039258,0.898244,1.00000,-0.619218,0.389524
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,...,602 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,284087.648,0.951839,0.877063,0.773706,0.00000,-0.727622,0.010417
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,...,465 ANG MO KIO AVE 10,ANG MO KIO,3 ROOM,287340.560,0.864858,1.000000,0.898244,0.63093,-0.552742,0.895376
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,...,601 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,287340.560,0.896241,0.877063,0.773706,0.00000,-0.731368,-0.031389

In [31]:
df['park'] = 0.5096731599345877 - (np.log(df["park_distance"]) +1)
df.head()

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,...,town,flat_type,resale_price,bus,school,mall,supermarket,cbd,hawker,park
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,...,ANG MO KIO,2 ROOM,251558.528,0.951839,1.091002,1.086033,0.63093,-0.498502,1.168127,-0.088063
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,...,ANG MO KIO,3 ROOM,271076.000,0.896241,1.039258,0.898244,1.00000,-0.619218,0.389524,0.915428
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,...,ANG MO KIO,3 ROOM,284087.648,0.951839,0.877063,0.773706,0.00000,-0.727622,0.010417,1.535021
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,...,ANG MO KIO,3 ROOM,287340.560,0.864858,1.000000,0.898244,0.63093,-0.552742,0.895376,0.387659
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,...,ANG MO KIO,3 ROOM,287340.560,0.896241,0.877063,0.773706,0.00000,-0.731368,-0.031389,1.398085

In [32]:
df['mrtlrt'] = 0.4227980215034163 - (np.log(df["mrtlrt_distance"]) +1)
df.head()

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,...,flat_type,resale_price,bus,school,mall,supermarket,cbd,hawker,park,mrtlrt
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,...,2 ROOM,251558.528,0.951839,1.091002,1.086033,0.63093,-0.498502,1.168127,-0.088063,-0.575577
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,...,3 ROOM,271076.000,0.896241,1.039258,0.898244,1.00000,-0.619218,0.389524,0.915428,1.026478
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,...,3 ROOM,284087.648,0.951839,0.877063,0.773706,0.00000,-0.727622,0.010417,1.535021,0.157937
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,...,3 ROOM,287340.560,0.864858,1.000000,0.898244,0.63093,-0.552742,0.895376,0.387659,-0.515662
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,...,3 ROOM,287340.560,0.896241,0.877063,0.773706,0.00000,-0.731368,-0.031389,1.398085,0.219312

In [33]:
df.describe()

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,...,LONGITUDE,resale_price,bus,school,mall,supermarket,cbd,hawker,park,mrtlrt
count,142884.000000,142884.000000,142884.000000,142884.000000,142884.000000,142884.000000,142884.000000,142884.000000,142884.000000,142884.000000,...,142884.000000,1.428840e+05,142884.000000,142884.000000,142884.000000,142884.000000,142884.000000,142884.000000,142884.000000,142884.000000
mean,97.633041,74.804772,15.442513,12.319398,0.745450,5.152564,0.603372,0.751503,15.711073,1.998355,...,103.842081,5.187889e+05,0.994232,0.974404,0.970357,0.910362,-0.761838,0.036480,-0.051786,0.137119
std,24.058114,13.581614,4.689414,4.397223,0.518298,2.964522,0.379811,0.414154,5.262098,1.317929,...,0.071019,1.777195e+05,0.109177,0.123257,0.215403,0.414388,0.487209,0.760617,0.573238,0.685017
min,31.000000,44.000000,3.000000,0.625748,0.006965,0.000000,0.021364,0.046005,0.000000,0.000000,...,103.685230,1.558486e+05,0.500000,0.000000,0.000000,0.000000,-1.346968,-1.566642,-1.370654,-1.834655
25%,82.000000,64.000000,12.000000,9.571831,0.351822,3.000000,0.313701,0.452681,12.000000,1.000000,...,103.782470,3.885067e+05,0.925110,0.905315,0.773706,0.630930,-1.075535,-0.511213,-0.445273,-0.359259
50%,94.000000,75.000000,15.000000,13.240745,0.627147,5.000000,0.526226,0.664747,16.000000,2.000000,...,103.847230,4.852615e+05,1.000000,1.000000,1.000000,1.000000,-0.927192,-0.046598,-0.081978,0.064823
75%,113.000000,86.000000,18.000000,15.358082,0.998043,6.000000,0.804171,0.955946,19.000000,3.000000,...,103.899640,6.105105e+05,1.061982,1.057362,1.086033,1.261860,-0.602717,0.531458,0.302241,0.582113
max,249.000000,98.000000,48.000000,20.147391,2.867585,36.000000,3.516454,2.411689,42.000000,10.000000,...,103.987800,1.493202e+06,1.403677,1.327539,2.015292,2.182658,2.124915,4.453686,2.588678,3.268846