In [21]:
import pandas as pd

In [22]:
df = pd.read_csv("../src/assets/datasets/catboost_2000_2003.csv")
df.shape

(10, 3)

In [23]:
datasets = [
    "../src/assets/datasets/catboost_2000_2003.csv",
    "../src/assets/datasets/catboost_2004_2007.csv",
    "../src/assets/datasets/catboost_2008_2011.csv",
    "../src/assets/datasets/catboost_2012_2015.csv",
    "../src/assets/datasets/catboost_2016_2019.csv",
    "../src/assets/datasets/catboost_2020_2024.csv"
]

years = [
    "2000-2003",
    "2004-2007",
    "2008-2011",
    "2012-2015",
    "2016-2019",
    "2020-2024"
]

In [24]:
column = ['year']
output = pd.DataFrame(columns=column)
output

Empty DataFrame
Columns: [year]
Index: []

In [25]:
for n in range(len(datasets)):
    temp = pd.read_csv(datasets[n])
    temp.drop(columns=df.columns[0], axis=1, inplace=True)
    temp['year'] = years[n]
    print(years[n])
    output = pd.concat([output, temp], ignore_index=True, sort=False)
output.head(30)

2000-2003
2004-2007
2008-2011
2012-2015
2016-2019
2020-2024

         year              Feature Id  Importances
0   2000-2003          floor_area_sqm    49.172503
1   2000-2003            cbd_distance    13.149178
2   2000-2003         remaining_lease    10.008104
3   2000-2003         mrtlrt_distance     4.745363
4   2000-2003       school_within_2.0     4.557160
5   2000-2003         hawker_distance     4.246388
6   2000-2003           park_distance     4.037015
7   2000-2003         mall_within_2.0     4.020702
8   2000-2003  supermarket_within_0.5     3.264460
9   2000-2003          bus_within_0.5     2.799128
10  2004-2007          floor_area_sqm    35.838242
11  2004-2007            cbd_distance    13.597726
12  2004-2007         remaining_lease    13.514038
13  2004-2007         mrtlrt_distance     6.704160
14  2004-2007           park_distance     5.352038
15  2004-2007       school_within_2.0     5.341761
16  2004-2007         mall_within_2.0     5.317137
17  2004-2007         hawker_distance     5.059004
18  2004-2007  supermarket_within_0.5     4.826119
19  2004-2007          bus_within_0.5     4.449776
20  2008-2011          floor_area_sqm    27.924391
21  2008-2011         remaining_lease    16.884297
22  2008-2011            cbd_distance    14.288008
23  2008-2011         mrtlrt_distance     7.039091
24  2008-2011       school_within_2.0     6.322510
25  2008-2011           park_distance     6.138339
26  2008-2011         mall_within_2.0     5.960632
27  2008-2011         hawker_distance     5.862065
28  2008-2011  supermarket_within_0.5     5.320554
29  2008-2011          bus_within_0.5     4.260113

In [26]:
output.shape

(60, 3)

In [29]:
output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         60 non-null     object
 1   Feature Id   60 non-null     object
 2   Importances  60 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.5+ KB

In [31]:
output['year'] = output['year'].astype("string")
output['Feature Id'] = output['Feature Id'].astype("string")
output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         60 non-null     object
 1   Feature Id   60 non-null     object
 2   Importances  60 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.5+ KB

In [27]:
output.to_json("../src/assets/datasets/catboost_aggregated.json", orient="records")

In [28]:
output.to_csv("../src/assets/datasets/catboost_aggregated.csv")