In [1]:
import pandas as pd

In [63]:
condo_2018 = pd.read_csv("../private/private_2018_2022.csv")
condo_2018["year"] = condo_2018["year"] + 2000
condo_2018 = condo_2018[
    (condo_2018["saletype"] == "Resale") & (condo_2018["year"] == 2018)
][["price", "year"]]
condo_2018 = condo_2018.rename(columns={"price": "resale_price"})
condo_2018["flat_type"] = "Private"

C:\Users\vince\AppData\Local\Temp\ipykernel_38988\1945246418.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  condo_2018 = pd.read_csv('../private/private_2018_2022.csv')

In [65]:
hdb = pd.read_csv("hdb.csv")[["resale_price", "month"]]
hdb["year"] = pd.to_datetime(hdb["month"]).dt.year
hdb = hdb.drop(columns="month")
hdb["flat_type"] = "HDB"

types = ["Condominium", "Apartment", "Executive Condominium"]
condo = pd.read_csv("../private/private.csv")[
    ["transacted_price_($)", "sale_date", "property_type"]
]
condo = condo[condo["property_type"].isin(types)][["transacted_price_($)", "sale_date"]]
condo["year"] = pd.to_datetime(condo["sale_date"]).dt.year
condo = condo.drop(columns="sale_date")
condo = condo.rename(columns={"transacted_price_($)": "resale_price"})
condo["resale_price"] = pd.to_numeric(condo["resale_price"].str.replace(",", ""))
condo["flat_type"] = "Private"

In [70]:
df = (
    pd.concat([hdb, condo_2018, condo])
    .groupby(["year", "flat_type"])
    .median()
    .reset_index()
)
df.to_csv("../median_resale_price.csv", index=False)

In [13]:
condo.head()

  resale_price  year flat_type
0    1,540,000  2024   Private
1      965,000  2024   Private
2    3,650,000  2024   Private
3    1,710,000  2024   Private
4    1,498,000  2024   Private