In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
hdb = pd.read_csv('hdb_scaled.csv')
hdb_filtered = hdb[['year', 'town_classification', 'resale_price', 'adjusted_price', 'price_per_sqm', 'adjusted_price_per_sqm']]
grouped_hdb = hdb_filtered.groupby(['year', 'town_classification'])
median_price = grouped_hdb.median().reset_index()
median_price['flat_type'] = 'All'
median_price.head()

,year,town_classification,resale_price,adjusted_price,price_per_sqm,adjusted_price_per_sqm,flat_type
0,1990,Mature,52000.0,92944.8,704.477612,1259.183284,All
1,1990,Non-Mature,56000.0,100094.4,699.029126,1249.444660,All
2,1991,Mature,54000.0,94354.2,728.813559,1273.455932,All
3,1991,Non-Mature,60000.0,104838.0,726.495726,1269.405983,All
4,1992,Mature,62000.0,105617.0,820.895522,1398.395522,All

In [11]:
median = pd.read_csv('median_price.csv')
median_final = pd.concat([median, median_price], ignore_index=True)
median_final.to_csv('median_price_final.csv')